<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient</title>
<%= erb :css %>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

   <section id="conf">
     <h2>Configuration</h2>
     <div class="panel panel-default">
	<div class="panel-body">
	  <form class="form-horizontal" action="/admin/conf" method="post">
	    <fieldset>
	      <div class="control-group">
		<label class="control-label" for="workspace_title">Title</label>
		<div class="controls">
		  <input type="text" class="input-xlarge" id="workspace_title" name="workspace_title" value="<%= workspace.title %>" required/>
		</div>
	      </div>
	      <div class="form-actions">
		<button type="submit" class="btn btn-primary">submit</button>
	      </div>
	    </fieldset>
	  </form>
	</div>
     </div>
   </section>

    <!-- User List -->
    <section id="user-list">
      <h2>Users in Workspace</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th>name</th>
		<th>delete</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% users.each do |user| %>
	      <tr>
		<td><%= user.name %></td>
		<td>
		  <a href="/user/delete/<%= user.name %>">
		    <button type="button" class="btn btn-default btn-xs">
		    <span class="glyphicon glyphicon-remove"></span>
		    </button>
		  </a>
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
<%= erb :jslibs %>
  </body>
</html>
