<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient</title>
<%= erb :css %>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <!-- User List -->
    <section id="user-list">
      <h2>Users in Workspace</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th>name</th>
		<th>delete</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% users.each do |user| %>
	      <tr>
		<td><%= user.name %></td>
		<td>
		  <a href="/admin/user/delete/<%= user.name %>">
		    <button type="button" class="btn btn-default btn-xs">
		    <span class="glyphicon glyphicon-remove"></span>
		    </button>
		  </a>
		</td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
    <script src="/lib/js/underscore.js"></script>
    <script src="/<%= Pione::Global.resource[:jquery_js] %>"></script>
    <script src="/<%= Pione::Global.resource[:bootstrap_js] %>"></script>
    <script src="/rocketio/rocketio.js"></script>
    <script src="/js/pione-webclient.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="<%= Pione::Global.dropins_app_key %>"></script>
  </body>
</html>
