<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job: <%= job.desc || job.id %> - PIONE Webclient</title>

<%= erb :css %>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <!-- Job Description -->
    <section>
      <form class="form-inline" role="form">
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">Job Description</div>
	    <input class="form-control" id="job-desc" type="text" value="<%= job.desc %>" />
	  </div>
	</div>
      </form>
    </section>

    <!-- Source Panel -->
    <section id="source">
      <h2>Select PIONE Package and Input Files</h2>
      <div id="source-panel" class="panel panel-default">
	<div class="panel-body">
	  <h3>PIONE Package</h3>
	  <!-- buttons for selecting a PPG file -->
	  <div>
	    <% if Pione::Global.dropins_app_key %>
	    <input type="dropbox-chooser" name="selected-file" id="source-ppg-chooser" style="visibility: hidden;"
		   data-link-type="direct" data-extensions=".ppg" /> or
	    <% end %>
	    <div class="btn btn-xs btn-default file">
	      <span class="glyphicon glyphicon-upload"></span> Direct Upload
	      <input type="file" id="source-ppg-direct-uploader" />
	    </div>
	  </div>

	  <!-- show input PPG file -->
	  <table class="table table-hover">
	    <thead>
	      <tr><th>Name</th><th>Size</th><th>Last Modified</th><th>Op</th></tr>
	    </thead>
	    <tbody id="ppg-file">
	    </tbody>
	  </table>

	  <h3>Input Files</h3>
	  <!-- buttons for selecting input files -->
	  <div>
	    <form class="form-inline" role="form">
	      <% if Pione::Global.dropins_app_key %>
	      <div class="form-group">
		<div class="input-group">
		  <input type="dropbox-chooser" name="selected-file" id="source-files-chooser" style="visibility: hidden;"
			 data-link-type="direct" data-multiselect="true" /> or
		</div>
	      </div>
	      <% end %>
	      <div class="form-group">
		<div class="input-group">
		  <div class="btn btn-xs btn-default file">
		    <span class="glyphicon glyphicon-upload"></span> Direct Upload
		    <input type="file" id="source-files-direct-uploader" multiple />
		  </div> or
		</div>
	      </div>
	      <div class="form-group" id="form-upload-result-file">
		<div class="input-group">
		  <input class="form-control" id="result-file" type="text" placeholder="Result File URL" />
		  <span class="input-group-btn">
		    <button class="btn btn-default" id="upload-result-file" type="button">Upload</button>
		  </span>
		</div>
	      </div>
	    </form>
	  </div>

	  <!-- show source data files -->
	  <table class="table table-hover">
	    <thead>
	      <tr><th>Name</th><th>Size</th><th>Last Modified</th><th>Op</th></tr>
	    </thead>
	    <tbody id="inputs">
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

    <!-- Operation -->
    <section id="operation">
      <h2>Operations</h2>
      <div class="btn-group btn-group-justified">
	<a class="btn btn-lg btn-default disabled" id="start">
	  <span class="glyphicon glyphicon-play"></span> Start
	</a>
	<a class="btn btn-lg btn-default disabled" id="stop">
	  <span class="glyphicon glyphicon-stop"></span> Stop
	</a>
	<a class="btn btn-lg btn-default" id="clear">
	  <span class="glyphicon glyphicon-trash"></span> Clear
	</a>
      </div>
    </section>

    <!-- Message Log -->
    <section id="message-log">
      <h2>Message Log</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <pre></pre>
	</div>
      </div>
    </section>

    <!-- Interaction Message -->
    <section id="interaction-dialog">
      <div class="modal fade">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Interaction occurred</h4>
	    </div>
	    <div class="modal-body">
	      <div id="interaction-dialog-message"></div>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	</div>
      </div>
    </section>

    <!-- Results -->
    <section id="result-file-section">
      <h2>Result Files</h2>
      <div class="panel pane-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr><th>Name</th><th>Size</th><th>Last Modified</th><th>Op</th></tr>
	    </thead>
	    <tbody id="results">
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

    <!-- Status Box -->
    <div id="status-box">
      <button id="follow-message-log">
	<span class="glyphicon glyphicon-arrow-down"></span>
      </button>
      <button class="box inactive" id="interaction-button" data-toggle="tooltip" data-placement="bottom" title="No interaction">
	Interaction
      </button>
      <div class="box unknown" id="job-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Job: <span class="status-name">Unknown</span>
      </div>
      <div class="box unknown" id="server-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Server: <span class="status-name">Unknown</span>
      </div>
    </div>

    <!-- Alert Message Box -->
    <div id="alert-box"></div>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
<%= erb :jslibs %>
    <script type="text/javascript">
      <% if Pione::Global.dropins_app_key %>
      var enableDropbox = true;
      <% else %>
      var enableDropbox = false;
      <% end %>
      PioneWebclient.Job.init("<%= job.id %>", enableDropbox);
    </script>
  </body>
</html>
