<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient - Login</title>

    <!-- ------------------------------------------------------------ -->
    <!-- CSS                                                          -->
    <!-- ------------------------------------------------------------ -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="<%= Pione::Global.resource[:bootstrap_css] %>"/>
    <link rel="stylesheet" href="<%= Pione::Global.resource[:bootstrap_theme_css] %>"/>
    <!-- fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic|Roboto:100|Inconsolata:700,400"/>
    <!-- PIONE -->
    <link rel="stylesheet" href="css/pione-webclient.css"/>

    <style media="screen" type="text/css">
      .form-login {
        max-width: 330px;
      }
    </style>
  </head>

  <body>
    <!-- Header -->
    <section id="header">
      <h1>PIONE Webclient</h1>
      <div>PIONE is a rule based workflow engine. Hello, PIONE users!</div>
    </section>

    <% if session[:message] %>
      <%= session[:message] %>
      <% session[:message] = nil %>
    <% end %>

    <!-- Source Panel -->
    <section id="login">
      <h2>Login</h2>
      <div id="source-panel" class="panel panel-default">
	<div class="panel-body">
	   <form class="form-login" action="/login" method="post">
	     <input class="form-control" type="text" name="email" placeholder="mail address" required autofocus/>
	     <input class="form-control" type="password" name="password" placeholder="password" required/>
	     <label><input type="radio" name="submit_type" value="login" checked="checked"/>log in</label>
	     <label><input type="radio" name="submit_type" value="signup"/>sign up</label>
	     <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit"/>
	   </form>
	</div>
      </div>
    </section>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
    <script src="lib/js/underscore.js"></script>
    <script src="<%= Pione::Global.resource[:jquery_js] %>"></script>
    <script src="<%= Pione::Global.resource[:bootstrap_js] %>"></script>
    <script src="rocketio/rocketio.js"></script>
    <script src="js/pione-webclient.js"></script>
  </body>
</html>

