<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient - Sign up</title>

<%= erb :css %>

    <style media="screen" type="text/css">
      .form-signup {
        max-width: 330px;
      }
    </style>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <% if session[:message] %>
      <%= session[:message] %>
      <% session[:message] = nil %>
    <% end %>

    <!-- Source Panel -->
    <section id="signup">
      <h2>Sign up</h2>
      <div id="source-panel" class="panel panel-default">
	<div class="panel-body">
	   <form class="form-signup" action="/signup" method="post">
	     <input class="form-control" type="text" name="email" placeholder="mail address" required autofocus/>
	     <input class="form-control" type="password" name="password" placeholder="password" required/>
	     <input class="form-control" type="confirmation" name="confirmation" placeholder="confirmation" required/>
	     <input class="btn btn-lg btn-primary btn-block" type="submit" value="submit"/>
	   </form>
	</div>
      </div>
    </section>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
    <script src="lib/js/underscore.js"></script>
    <script src="<%= Pione::Global.resource[:jquery_js] %>"></script>
    <script src="<%= Pione::Global.resource[:bootstrap_js] %>"></script>
    <script src="rocketio/rocketio.js"></script>
    <script src="js/pione-webclient.js"></script>
  </body>
</html>
