<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient - Sign up</title>

<%= erb :css %>

    <style media="screen" type="text/css">
      #form-signup {
        max-width: 330px;
      }
    </style>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <section>
      <div><span id="message"/></div>
    </section>

    <!-- Source Panel -->
    <section id="signup">
      <h2>Sign up</h2>
      <div id="source-panel" class="panel panel-default">
	<div class="panel-body">
	  <form id="form-signup">
	    <input class="form-control" type="text" id="username" placeholder="user name or email" required autofocus/>
	    <input class="form-control" type="password" id="password" placeholder="password" required/>
	    <input class="form-control" type="password" id="confirmation" placeholder="confirmation" required/>
	    <button class="btn btn-lg btn-primary btn-block" id="submit-signup" type="submit">submit</button>
	  </form>
	</div>
      </div>
    </section>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
<%= erb :jslibs %>
    <script type="text/javascript">
      PioneWebclient.Signup.init();
    </script>
  </body>
</html>
