<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient</title>

    <!-- ------------------------------------------------------------ -->
    <!-- CSS                                                          -->
    <!-- ------------------------------------------------------------ -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="<%= Pione::Global.resource[:bootstrap_css] %>"/>
    <link rel="stylesheet" href="<%= Pione::Global.resource[:bootstrap_theme_css] %>"/>
    <!-- fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic|Roboto:100|Inconsolata:700,400"/>
    <!-- PIONE -->
    <link rel="stylesheet" href="css/pione-webclient.css"/>
  </head>

  <body>
    <!-- Header -->
    <section id="header">
      <h1>PIONE Webclient</h1>
      <div>PIONE is a rule based workflow engine. Hello, PIONE users!</div>
    </section>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
	<a class="navbar-brand" href="#">PIONE</a>
      </div>
      <div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
	  <li class="active"><a href="#">Workspace</a></li>
	</ul>
	<form class="navbar-form navbar-left">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Job Name">
	  </div>
	  <button type="submit" class="btn btn-default">Create a new job</button>
	</form>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/logout">Logout</a></li>
	</ul>
      </div>
    </nav>

    <!-- New Job Panel -->
    <section id="new-job">
      <h2>New Job</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <form class="form-inline" action="/job/create" method="post" role="form">
	    <div class="form-group">
	      <input class="form-control" type="text" name="job_name" placeholder="job name"/>
	    </div>
	    <button class="btn btn-default">Create a new job</button>
	  </form>
	</div>
      </div>
    </section>

    <!-- Job List -->
    <section id="job-list">
      <h2>Your Jobs in Workspace</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr><th>name</th><th>id</th><th>ctime</th><th>mtime</th><th>status</th></tr>
	    </thead>
	    <tbody>
	      <% jobs.each do |job| %>
	      <tr>
		<td><a href="/job/<%= job.id %>"><%= job.name %></a></td>
		<td><a href="/job/<%= job.id %>"><%= job.id %></a></td>
		<td><%= job.ctime ? job.ctime.iso8601 : "" %></td>
		<td><%= job.mtime ? job.mtime.iso8601 : "" %></td>
		<td><%= job.status %></td>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

    <!-- Message Log -->
    <section id="message-log">
      <h2>Processing Message Log</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <pre></pre>
	</div>
      </div>
    </section>

    <!-- Interactive Operation Canvas -->
    <section id="interactive">
      <h2>Interactive Operation Canvas</h2>
      <div class="modal fade">
	<div class="modal-dialog">
	  <div class="modal"
	  <div class="canvas"></div>
	</div>
      </div>
    </section>

    <!-- Target -->
    <section id="target">
      <h2>Save the Target Zip</h2>
      <div class="panel pane-default">
	<div class="panel-body">
	  <a href="pione-logo.png" class="dropbox-saver" data-filename="result.zip" id="target-saver"></a> or
	  <a href="pione-logo.png" class="btn btn-xs btn-default" id="target-download">
	    <span class="glyphicon glyphicon-download"></span> Direct Download
	  </a>
	</div>
      </div>
    </section>

    <!-- Status Box -->
    <div id="status-box">
      <button id="follow-message-log">
	<span class="glyphicon glyphicon-arrow-down"></span>
      </button>
      <div class="unknown" id="job-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Job: <span class="status-name">Unknown</span>
      </div>
      <div class="unknown" id="server-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Server: <span class="status-name">Unknown</span>
      </div>
    </div>

    <!-- Alert Message Box -->
    <div id="alert-box"></div>

    <!-- Footer -->
    <section id="footer">
      <h2>Footer</h2>
      <div class="box">
	<span style="padding-right: 1em">PIONE Projects:</span>
	<div class="btn-group">
	  <a href="https://github.com/pione/pione" class="btn btn-xs btn-default">
	    <img src="https://raw.github.com/github/media/master/octocats/blacktocat-16.png"/> PIONE
	  </a>
	  <a href="https://github.com/pione/pione-webclient" class="btn btn-xs btn-default">
	    <img src="https://raw.github.com/github/media/master/octocats/blacktocat-16.png"/> PIONE Webclient
	  </a>
	</div>
      </div>
      <div class="info">This client is working with PIONE <%= Pione::VERSION %>.</div>
    </section>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
    <script src="lib/js/underscore.js"></script>
    <script src="<%= Pione::Global.resource[:jquery_js] %>"></script>
    <script src="<%= Pione::Global.resource[:bootstrap_js] %>"></script>
    <script src="rocketio/rocketio.js"></script>
    <script src="js/pione-webclient.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="<%= Pione::Global.dropins_app_key %>"></script>
  </body>
</html>

