<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient</title>

<%= erb :css %>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <!-- New Job Panel -->
    <section id="new-job">
      <h2>New Job</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <form class="form-inline" id="form-new-job" role="form">
	    <div class="form-group">
	      <input type="text" class="form-control" id="new-job-desc" placeholder="description"/>
	    </div>
	    <button class="btn btn-default">Create a new job</button>
	  </form>
	</div>
      </div>
    </section>

    <!-- Job List -->
    <section id="job-list">
      <h2>Your Jobs in Workspace</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th>id</th>
		<th>desc</th>
		<th>ctime</th>
		<th>mtime</th>
		<th>status</th>
		<th>operation</th>
	      </tr>
	    </thead>
	    <tbody id="job-list-table-body"/>
	  </table>
	</div>
      </div>
    </section>

    <!-- Alert Message Box -->
    <div id="alert-box"></div>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
<%= erb :jslibs %>
    <script type="text/javascript">
      PioneWebclient.Workspace.init("<%= user.name %>");
    </script>
  </body>
</html>

