<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIONE Webclient</title>

<%= erb :css %>
  </head>

  <body>
<%= erb :header %>
<%= erb :navigation_bar %>

    <!-- New Job Panel -->
    <section id="new-job">
      <h2>New Job</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <form class="form-inline" action="/job/create" method="post" role="form">
	    <div class="form-group">
	      <input type="text" class="form-control" name="job_desc" placeholder="description"/>
	    </div>
	    <button class="btn btn-default">Create a new job</button>
	  </form>
	</div>
      </div>
    </section>

    <!-- Job List -->
    <section id="job-list">
      <h2>Your Jobs in Workspace</h2>
      <div class="panel panel-default">
	<div class="panel-body">
	  <table class="table table-hover">
	    <thead>
	      <tr>
		<th>id</th>
		<th>desc</th>
		<th>ctime</th>
		<th>mtime</th>
		<th>status</th>
		<th>operation</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% jobs.each do |job| %>
	      <tr>
		<td><a href="/job/manage/<%= job.id %>"><%= job.id %></a></td>
		<td><a href="/job/manage/<%= job.id %>"><%= job.desc %></a></td>
		<td><%= job.ctime ? job.ctime.iso8601 : "" %></td>
		<td><%= job.mtime ? job.mtime.iso8601 : "" %></td>
		<td><%= job.status %></td>
		<td><a href="/job/delete/<%= job.id %>">delete</a>
	      </tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
    </section>

    <!-- Status Box -->
    <div id="status-box">
      <button id="follow-message-log">
	<span class="glyphicon glyphicon-arrow-down"></span>
      </button>
      <div class="unknown" id="job-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Job: <span class="status-name">Unknown</span>
      </div>
      <div class="unknown" id="server-status">
	<span class="glyphicon glyphicon-question-sign"></span>
	Server: <span class="status-name">Unknown</span>
      </div>
    </div>

    <!-- Alert Message Box -->
    <div id="alert-box"></div>

<%= erb :footer %>

    <!-- ------------------------------------------------------------ -->
    <!-- JS                                                           -->
    <!-- ------------------------------------------------------------ -->
<%= erb :jslibs %>
  </body>
</html>

